<div class="homepage-content__events-list">

  {{#each events as |event|}}
    {{event-card
      day=day
      event=event

      isFavorite=event.isFavorite
      tags=event.tags
      id=event.id
      dates=event.eventDates
      title=event.title
      location=event.location
    }}
  {{/each}}

</div>
