<div class="homepage-content__events-list">

  {{#each events as |event|}}
    {{event-card
      day=day
      event=event
    }}
  {{/each}}

  {{#if loadingMoreEvents}}
    Loading Events...
  {{/if}}
</div>
