<div class="related-events">
  <div class="related-events__max">
    <div class="related-events__title">Related Events</div>
    <div class="related-events__list">


      <div class="related-events__event">
        <img src="/images/events/related-event-1.png" alt="Fireworks and Crowd" class="related-events__event-image" />
        <div class="related-events__event-details">
          <div class="related-events__from-to">
            Jan 11 Till Mar 08
          </div>
          <div class="related-events__event-title">
            BIG CITY LIFE - Exhibition Opening
          </div>
          <div class="related-events__event-timing-and-location">
            <img class="related-events__icon" alt="Clock Icon" src="/images/icons/time.svg">
            10:00 am till 11:00 pm
          </div>
          <div class="related-events__event-timing-and-location">
            <img class="related-events__icon" alt="Location Icon" src="/images/icons/location.svg">
            Salon Beyrouth restaurant, Mohammed Abdel Baki street, Beirut, Lebanon
          </div>
          <div class="related-events__event-tags">
            # Arts & Culture&nbsp;&nbsp;&nbsp;&nbsp;#Conferences & Workshops
          </div>
        </div>
      </div>


      <div class="related-events__event">
        <img src="/images/events/related-event-2.png" alt="Aqua Museum" class="related-events__event-image" />
        <div class="related-events__event-details">
          <div class="related-events__from-to">
             Jan 10 Till Jan 27
          </div>
          <div class="related-events__event-title">
            Dar El-Nimer for Arts & Culture
          </div>
          <div class="related-events__event-timing-and-location">
            <img class="related-events__icon" alt="Clock Icon" src="/images/icons/time.svg">
            10:00 am till 11:00 pm
          </div>
          <div class="related-events__event-timing-and-location">
            <img class="related-events__icon" alt="Location Icon" src="/images/icons/location.svg">
            Salon Beyrouth restaurant, Mohammed Abdel Baki street, Beirut, Lebanon
          </div>
          <div class="related-events__event-tags">
            # Arts & Culture&nbsp;&nbsp;&nbsp;&nbsp;#Conferences & Workshops
          </div>
        </div>
      </div>


      <div class="related-events__event">
        <img src="/images/events/related-event-3.png" alt="Dinosaur Painting" class="related-events__event-image" />
        <div class="related-events__event-details">
          <div class="related-events__from-to">
            Jan 10 Till Jan 27
          </div>
          <div class="related-events__event-title">
            The Other
          </div>
          <div class="related-events__event-timing-and-location">
            <img class="related-events__icon" alt="Clock Icon" src="/images/icons/time.svg">
            8:30 PM - 11:30 PM
          </div>
          <div class="related-events__event-timing-and-location">
            <img class="related-events__icon" alt="Location Icon" src="/images/icons/location.svg">
            Sunflower - Douwar el Shams, Beirut, Lebanon 4011
          </div>
          <div class="related-events__event-tags">
            # Arts & Culture&nbsp;&nbsp;&nbsp;&nbsp;#Conferences & Workshops
          </div>
        </div>
      </div>


      <div class="related-events__event">
        <img src="/images/events/related-event-4.png" alt="Men Playing Music" class="related-events__event-image" />
        <div class="related-events__event-details">
          <div class="related-events__from-to">
            Jan 11 Till Mar 08
          </div>
          <div class="related-events__event-title">
            The Other
          </div>
          <div class="related-events__event-timing-and-location">
            <img class="related-events__icon" alt="Clock Icon" src="/images/icons/time.svg">
            8:30 PM - 11:30 PM
          </div>
          <div class="related-events__event-timing-and-location">
            <img class="related-events__icon" alt="Location Icon" src="/images/icons/location.svg">
            Sunflower - Douwar el Shams, Beirut, Lebanon 4011
          </div>
          <div class="related-events__event-tags">
            # Arts & Culture&nbsp;&nbsp;&nbsp;&nbsp;#Conferences & Workshops
          </div>
        </div>
      </div>

    </div>

    <div class="related-events__phone-more">
      <img src="/images/icons/more-phone.svg" alt="Next Event?">
    </div>
  </div>
</div>
