<div class="header">
  <div class="app-bar">
    <div class="app-bar__max">
      <div class="app-bar__left">
        <img class="app-bar__menu app-bar__element-left" src="/images/icons/menu.svg" />
        <div class="app-bar__element-left">Today: AUG 09, 2016</div>
        <a href="javascript:void(0)" class="app-bar__element app-bar__element-left">Browse Events</a>
        <div class="app-bar__element-left app-bar__location">
          <div class="app-bar__location-logo"></div>
          <!-- <img src="/images/icons/location.svg"> -->
          <a href="javascript:void(0)" class="app-bar__element"> Eastern Province</a>
        </div>
      </div>

      <div class="app-bar__middle">
        {{#link-to "main.index"}}
          <img class="app-bar__logo" src="/images/icons/logo.svg"/>
        {{/link-to}}
      </div>

      <div class="app-bar__right">
        <a href="javascript:void(0)" class="app-bar__element app-bar__element-right">Login</a>
        <button class="app-bar__element-right app-bar__add-event">Add Event</button>
        <a href="javascript:void(0)" class="app-bar__element app-bar__element-right">بالعربية</a>
      </div>
    </div>
  </div>
</div>

<div class="main-page">
  <div class="header-phone">
    <div class="header-phone__left">
      <img src="/images/icons/menu-phone.svg">
    </div>
    <div class="header-phone__middle">
      <img src="/images/icons/logo.svg"/>
    </div>
    <div class="header-phone__right">
      <div class="header-phone__right-left"></div>
      <div class="header-phone__right-right">
        <img src="/images/icons/location-phone.svg">
        <img src="/images/icons/search-phone.svg">
      </div>
    </div>
  </div>
  {{outlet}}
</div>

<div class="footer">
  <div class="footer__max">
    <div class="footer__left">
      Terms of Use | Privacy Policy
    </div>
    <div class="footer__middle">
      <div class="footer__icon footer__facebook-icon"></div>
      <div class="footer__icon footer__insta-icon"></div>
      <div class="footer__icon footer__twitter-icon"></div>
      <div class="footer__icon footer__youtube-icon"></div>
      <div class="footer__icon footer__google-icon"></div>
      <div class="footer__icon footer__linkedin-icon"></div>
    </div>
    <div class="footer__right">
      © 2012 - 2019. All rights reserved.
    </div>
  </div>
</div>
