<div class="main-page">
  <header class="header-phone">
    <div class="header-phone__back">
      <img src="/images/icons/back-phone.svg" alt="Back">
    </div>
    <div class="header-phone__title">
      Night
    </div>
    <div class="header-phone__empty"></div>
  </header>

  <div class="back-bar">
    <div class="back-bar__back">
      <img class="back-bar__back-image" alt="Back" src="/images/icons/back.svg">
      Back
    </div>
  </div>

  <article class="event-content">
    {{event-details dates=model.eventDates location=model.location title=model.title url=model.url tags=model.tags details=model.details}}
    <div class="event-image">
      <img class="event-image__image" src="/images/events/event-{{model.id}}.png" alt="Girl Behind Flowers">
    </div>
  </article>

  {{related-events}}

</div>
