<div class="dates-bar">
  <div class="dates-bar__max">
    {{dates-bar max= 30}}
    <img class="dates-bar__arrow" src="/images/icons/forward-arrow-grey.svg">

    <div class="dates-bar__right">
      <img src="/images/icons/search.svg">
      <input type="search" placeholder="Search for an event or activity" class="dates-bar__search" />
    </div>
  </div>
</div>

<div class="homepage">
  {{tags-bar
    tags=tags
    onFilter=(action "onFilter")
  }}
  <div class="homepage-content">
    <div class="homepage-content__title">
      15 EVENTS FOUND ON SATURDAY AUGUST 9
    </div>

    {{events-list
      events=events
    }}

    {{#if hasMoreEvents}}
      <div onclick={{action 'seeMoreEvents'}} class="homepage-content__see-more">
        <button class="tags-bar__tag tags-bar__tag_color_orange">See more events (213)</button>
      </div>
    {{/if}}
  </div>
</div>
