<div class="dates-bar">
  <div class="dates-bar__max">
    {{dates-bar max= 30}}
    <img class="dates-bar__arrow" src="/images/icons/forward-arrow-grey.svg">

    <div class="dates-bar__right">
      <img src="/images/icons/search.svg">
      <input type="search" placeholder="Search for an event or activity" class="dates-bar__search" />
    </div>
  </div>
</div>

<div class="homepage">
  <div class="tags-bar">
    <div class="tags-bar__container">
      <a href="javascript:void(0)" class="tags-bar__tag tags-bar__tag_is-selected">
        Everything
      </a>
      {{#each model.tags as |tag|}}
        <a href="javascript:void(0)" class="tags-bar__tag">
          {{tag.title}}
        </a>
      {{/each}}
      <a href="javascript:void(0)" class="tags-bar__tag">
        More
      </a>
    </div>
  </div>

  <div class="homepage-content">
    <div class="homepage-content__title">
      15 EVENTS FOUND ON SATURDAY AUGUST 9
    </div>

    {{events-list
      events=model.events
    }}

    <div class="homepage-content__see-more">
      <button class="tags-bar__tag tags-bar__tag_color_orange">See more events (213)</button>
    </div>
  </div>
</div>
